*.iml
.gradle
/local.properties
/.idea/*
!/.idea/runConfigurations/
!/.idea/runConfigurations/*.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
~$*.xlsx
/build
/captures
.externalNativeBuild
.cxx
local.properties
node_modules/
